@page "{productId:int}"
@model YAWYE.Pages.Products.DetailsModel

@{
}
<h1>Delete!</h1>
<div>Are you sure you want to delete <i>@Model.Product.Name</i>?</div>
<form method="post">
    <button class="btn btn-danger">Yes</button>
    <a asp-page="./ProductList" class="btn btn-success">Cancel</a>
</form>
