@page

@model YAWYE.Pages.Products.ProductListModel
@{
}

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span>
                <button class="btn fas fa-search">
                </button>
                <a asp-page="./UpdateProduct" class="btn fas fa-plus"></a>
            </span>
        </div>
    </div>


</form>

    @foreach (var product in Model.Products)
    {
        <partial name="_Summary" model="product" />
        
    }
@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}



