@page

@model YAWYE.Pages.Products.ProductListModel
@{
}


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="btn btn-default">
                <button class="btn">
                    <i class="btn btn-primary">Search</i>
                </button>
                <a asp-page="./UpdateProduct" class="btn btn-success">Add new</a>
            </span>
        </div>
    </div>


</form>

    @foreach (var product in Model.Products)
    {
        <partial name="_Summary" model="product" />
        
    }
@if(Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}



