@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You Are What You Eat - this is a dietary app created to help You manage your daily calories intake.</p>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">

    
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
        <li data-target="#demo" data-slide-to="4"></li>
        <li data-target="#demo" data-slide-to="5"></li>
    </ul>

    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block mx-auto" src="~/Images/groceries.png" alt="Groceries">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="~/Images/breakfast.png" alt="Breakfast">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="~/Images/lunch.png" alt="Lunch">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="~/Images/dinner.png" alt="Dinner">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="~/Images/supper.png" alt="Supper">
        </div>
        <div class="carousel-item">
            <img class="d-block mx-auto" src="~/Images/snacks.png" alt="Snacks">
        </div>
    </div>

    
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>