@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You Are What You Eat - this is a dietary app created to help You manage your daily calories intake.</p>
</div>