@page "{category:int}/{dayId:int}"
@model YAWYE.Pages.Days.UpdateDayModel
@{
}

<div class="container-fluid">
    <table class="table table-bordered">
        <thead class="thead-light">Your Meals</thead>
        <tbody>
            <tr>
                @foreach (var meal in Model.Meals)
                {
                    <td>@meal.Name <button class="btn fas fa-plus"></button></td>
                }
            </tr>
        </tbody>
    </table>
</div>