@page
@model YAWYE.Pages.Meals.MealListModel
@{
}


<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" placeholder="Search" id="searchInput" />
            <span>
                <button class="btn fas fa-search">
                </button>
                <a asp-page="./UpdateMeal" class="btn fas fa-plus"></a>
            </span>
        </div>
    </div>


</form>

<table id="list" class="table-bordered">
    @foreach (var meal in Model.Meals)
    {
        <partial name="_Summary" model="meal" />

    }
</table>
<style>
    #list {
        width:100%;
    }
    #list td
    {
        text-align:center;
        align-items:center;
    }
</style>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#list tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}