@page "{mealId:int?}"
@model YAWYE.Pages.Meals.UpdateMealModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Meal.Id" />
    <input type="hidden" asp-for="Meal.ImgPath" />
    <div class="form-group">
        <label asp-for="Meal.Name"></label>
        <input asp-for="Meal.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Meal.Name"></span>
    </div>
    <table id="dtVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0"
           width="100%">
        <thead>
            <tr>
                <th class="th-sm">
                    Name
                </th>
                <th class="th-sm">
                    Position
                </th>
                <th class="th-sm">
                    Office
                </th>
                <th class="th-sm">
                    Age
                </th>
                <th class="th-sm">
                    Start date
                </th>
                <th class="th-sm">
                    Salary
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Michael Bruce</td>
                <td>Javascript Developer</td>
                <td>Singapore</td>
                <td>29</td>
                <td>2011/06/27</td>
                <td>$183,000</td>
            </tr>
            <tr>
                <td>Donna Snider</td>
                <td>Customer Support</td>
                <td>New York</td>
                <td>27</td>
                <td>2011/01/25</td>
                <td>$112,000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Position
                </th>
                <th>
                    Office
                </th>
                <th>
                    Age
                </th>
                <th>
                    Start date
                </th>
                <th>
                    Salary
                </th>
            </tr>
        </tfoot>
    </table>
    <button type="submit" class="btn btn-success">Save</button>
</form>

@section Scripts {
    <script language="javascript">
        $(document).ready(function () {
            $('#dtVerticalScrollExample').DataTable({
                "scrollY": "200px",
                "scrollCollapse": true,
            });
            $('.dataTables_length').addClass('bs-select');
        });
    </script>
}